#main {
  color: gray;
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  background-color: #14539A;
}

#a {
  color: rgb(58, 57, 57);
  margin: auto;
  width: 80%;
  height: 50%;
  background-color: #a0c1e7;
  border-radius: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: large;
  font-weight: bold;
}

#bt {
  margin: auto;
  width: 80%;
  border-radius: 100vh;
  background-color: white;
}